body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    overflow: hidden;
}

div {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    height: calc(100vh - 64px);
    border-collapse: collapse;
}
td {
    vertical-align: baseline;
    box-shadow: 0px 0px 0px 1px #d4dbde inset;
    padding: 6px;
    height: inherit;
}
td.noborder {
    padding: 0;
    box-shadow: none;
}
tr {
    height: 0;
}
tr:last-child {
    height: auto;
}

#header {
    width: 100%;
    height: 64px;
    padding: 0;
    overflow: hidden;
}
#header img {
    height: 64px;
}
#username {
    color: #000;
    font-size: 32px;
    padding: 7px 16px;
}

#maintable {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}

#emaildetails td {
    box-shadow: none;
    padding: 0 6px 0 0;
}
#emailbody {
    padding: 0;
    height: 100%;
}
#emailbody p {
    padding: 0 1.5em
}

.emailBtn:hover {
    background-color: #ebf9ff;
    cursor: pointer;
}
.active {
    background-color: #ebf9ff;
    box-shadow: 3px 0px 0px #9ddfff inset;
}

#resume {
    margin: 0;
    width: 100%;
    height: 100%;
}

#actions {
    text-align: center;
}
#actions input {
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 16px 24px;
    margin: 0.5em 0.2em;
    font-size: 175%;
}
#actions input:hover {
    opacity: 0.75;
    cursor: pointer;
}
#actions input.hire {
    background-color: #4caf50;
    border: 3px solid #419544;
}
#actions input.fire {
    background-color: #f44336;
    border: 3px solid #cf392e;
}

.aboutButton {
    font-size:12px;
}
.aboutButton a {
    color:#aaaabb;
    text-decoration: none;
}

progress {
    margin: 4px;
    height: 20px;
    border-radius: 20px;
    background-color: #d4dbde;
    background: #d4dbde;
}
progress::-moz-progress-bar {
    border-radius: 20px;
    background-color: #d4dbde;
}
progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #d4dbde;
}
progress::-webkit-progress-value {
    border-radius: 20px;
}
